source/
first_project/__pycache__/
first_project/migrations/
api/__pycache__/
api/migrations/
web_react/
webpack-react/node_modules
first_project/static/first_project/mediafiles/
mediafiles/
db.sqlite3
manage.py
staticfiles/