{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">

	<title>Демо проект</title>
	<link  href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'first_project/faviconka.ico' %}"/>
	<link  type="text/css" href="{% static 'first_project/css.css' %}">
	
</head>
<body>
	{% csrf_token %}
	
    <div id="app">{{ static }}</div>
    <script src="{% static "first_project/app.js" %}"></script>
</body>
</html>
